In [1]:
setwd("/mnt/c/Users/Cedric/Desktop/git_repos/blood_microbiome")
require(tidyverse)
require(ggplot2)
require(data.table)
require(egg)
require(foreach)
require(doParallel)
require(ggforce)
# registerDoParallel(cores=8)

Loading required package: tidyverse

Warning message in system("timedatectl", intern = TRUE):
“running command 'timedatectl' had status 1”
── Attaching packages ─────────────────────────────────────────────────────────────────────────────── tidyverse 1.3.1 ──

✔ ggplot2 3.3.5     ✔ purrr   0.3.4
✔ tibble  3.1.6     ✔ dplyr   1.0.7
✔ tidyr   1.1.4     ✔ stringr 1.4.0
✔ readr   2.1.0     ✔ forcats 0.5.1

── Conflicts ────────────────────────────────────────────────────────────────────────────────── tidyverse_conflicts() ──
✖ dplyr::filter() masks stats::filter()
✖ dplyr::lag()    masks stats::lag()

Loading required package: data.table


Attaching package: ‘data.table’


The following objects are masked from ‘package:dplyr’:

    between, first, last


The following object is masked from ‘package:purrr’:

    transpose


Loading required package: egg

Loading required package: gridExtra


Attaching package: ‘gridExtra’


The following object is masked from ‘package:dplyr’:

    combine


Loading required package: foreach


Attaching package: ‘foreach’


The following objects are masked from ‘package:purrr’:

    accumulate, when


Loading required package: doParallel

Loading required package: iterators

Loading required package: parallel

Loading required package: ggforce

In [14]:
df <- fread("data/blood_culture_records/aerobic_2011.csv")
colnames(df) <- tolower(colnames(df))
colnames(df) <- gsub("[[:punct:]]", "", colnames(df))
colnames(df) <- gsub(" ", "_", colnames(df))
head(df)

  sn hosp recv_date  specimen_no   patient_code ac_last_4_digits sex age race
1 1  SGH  21/2/2011  20110011083RB AM           142H             M   76  I
2 2  SGH  28/2/2011  20110012588RB AM           142H             M   76  I
3 3  SGH  1/3/2011   20110013038RB AM           142H             M   76  I
4 4  SGH  7/6/2011   20110034199RB AB           493D             M   47  M
5 5  SGH  22/10/2011 20110064079RB AA           431F             F   46  O
6 6  SGH  5/3/2011   20110013885RB AA           885B             F   36  O
  location procedure source soucat organisms status collection
1 S73      DBARD     BLP    BL               COMP   20/2/2011
2 S73      DBARD     BLP    BL               COMP   27/2/2011
3 S73      DBARD     BLP    BL               COMP   1/3/2011
4 S55B     DBARD     BLP    BL               COMP   6/6/2011
5 S78      DBARD     BLP    BL               COMP   22/10/2011
6 S78      DBARD     BLP    BL               COMP   4/3/2011

In [13]:
table(df$hosp)

            BVH     HSA     IND     NCC     NHC     PAP     PTE    PTE1      QC
1010552      19      79     123     164       7       1       5      10       3
    SGH    SNEC
  37610       2